.custom-navbar {
  background: linear-gradient(to bottom, #000000, #111111);
}

.navbar-nav .nav-link {
  color: white;
  font-family: 'Cinzel', serif;
  letter-spacing: 1px; 
}

.navbar-nav .nav-link:hover {
  color: #f7c948;
}

.btn-warning {
  background-color: #f7c948;
  border: none;
}

.btn-warning:hover {
  background-color: #e0b840;
}

.footer-logo{
  width: 250px;
}

.weather{
  border-radius: 20px;
  height: 250px;
  width: auto;
  background-color: rgb(113, 173, 246);
}

.footer-Btn{
  /* width: 140px; */
  background-color: #e0b840;
  color: black;
  border: none;
  font-weight: bolder;
  font-size: larger;
  border-radius: 20px;
}
.search-section-input ,.hero-search{
  border:none;
  border-radius: 5px;
}
.submit-btn {
  border: 1px solid #e0b840;
  border-radius: 5px;
}
.submit-btn{
  background-color:  #e0b840;
  font-weight: bolder;
}

.overlayed-pic{
   background-image: url('../assets/overlayed.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.overlayed-pic::before{
   content: "";
  position: absolute;
  inset: 0;
  background: rgb(0,0,0,0.5);
}
.backgroud-image2::before{
   content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
.backgroud-image2 > .container{
  z-index: 2;
  position: relative;
}
.overlay{
  position: relative; 
  color: white;
  text-align: center;
  z-index: 1;
}
.img-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.img-card img {
  width: 100%;
  height: auto;
}

.img-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.img-title2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  font-size: smaller;
  padding: 3px;
  font-weight: bold;
  text-align: center;
}

.logo-title{
    position: absolute;
  top: -55px;
  left: 50%;
  border: 5px solid white;
  border-radius: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
}

.c1{
  background-color: rgb(32, 187, 89);
}
.c2{
  background-color: rgb(208, 164, 57);
}
.c3{
  background-color: rgb(254, 211, 88);
}
.c4{
  background-color: rgb(202, 119, 231);
}
.c5{
  background-color: rgb(91, 199, 193);
}
.c6{
  background-color: rgb(245, 41, 41);
}

.Hero-pic{
   background-image: url('../assets/Hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.Hero-pic::before{
   content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
}

.hero-ul li{
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
}

.card{
  margin: 5% 0%;
  /* height: 500px; */
}

.card-body{
  margin: 0% 0% 0% 3%;
  padding: 6% 2%;
}

.card-text {
  font-size: smaller;
}
.card-title{
  font-weight: bold;
   display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.backgroud-image2{
  background-image: url('../assets/img12.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.backgroud-image1{
  background-image: url('../assets/img11.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
 .profile-img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
    .fonted-title{
      font-size:60px;
    }

    .styled{
      background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
    }